doctype
html
  head
    title Cozy - Agenda
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    script(src="javascripts/modernizr-2.6.1.js")
    link(rel="stylesheet", href="../stylesheets/app.css")

  body.public
    #container.container.public-event-container.well
      h4 Souhaitez-vous participer ?
      h2 #{event.description}
        if event.place != null && event.place.length != 0
          &nbsp;(#{event.place})
      h3 Le #{date}

      if visitor.status == 'NEEDS-ACTION'

        p: a.btn(href="?status=ACCEPTED&key=" + key) Oui
        p: a.btn(href="?status=DECLINED&key=" + key) Non

      else if visitor.status == 'ACCEPTED'
        p
            | Vous avez déclaré participer à cet événement
        p: a(href="#{event.id}/#{file}.ics?key=" + key) Télécharger cet événement
        p
            a.btn(href="?status=DECLINED&key=" + key)
                | Décliner l'invitation

      else
        p
            | Vous avez déclaré ne PAS participer à cet événement
        p
            a.btn(href="?status=ACCEPTED&key=" + key)
                | Accepter l'invitation
