!!!
html
  head
    title Cozy - Agenda
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    script(src="javascripts/modernizr-2.6.1.js")
    link(rel="stylesheet", href="../stylesheets/app.css")

  body.public
    #container.container.public-event-container.well
      h4 Will you come to this event? 
      h2 #{event.description} @ #{event.place}
      h3 on #{date}

      if visitor.status == 'NEEDS-ACTION'

        p: a.btn(href="?status=ACCEPTED&key=" + key) yes
        p: a.btn(href="?status=DECLINED&key=" + key) no

      else if visitor.status == 'ACCEPTED'
        p 
            | Your status is 
            strong #{visitor.status}
        p: a(href="#{event.id}/file.ics?key=" + key) Export this event to a file
        p
            a.btn(href="?status=DECLINED&key=" + key) 
                | Change your invitation to status "declined"

      else
        h3 Your status is #{visitor.status}
        p
            | Your status is 
            strong #{visitor.status}
        p
            a.btn(href="?status=ACCEPTED&key=" + key)
                | Change your invitation to status "accepted"
