doctype
html
  head
    title Cozy Calendar - Upcoming Event
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    script(src="javascripts/modernizr-2.6.1.js")
    link(rel="stylesheet", href="/fonts/fonts.css")
    link(rel="stylesheet", href="../DIGEST(stylesheets/app.css)")

  body.public.public-event-body
    header
      img(src="https://docs.cozy.io/assets/images/cozy-logo.png")
    main#container.container.public-event-container.well
      h2 #{event.description}
      h3
        | On #{date}
        if event.place != null && event.place.length != 0
          | at (#{event.place})

      if visitor.status == 'NEEDS-ACTION'

        p: a.btn(href="?status=ACCEPTED&key=" + key) Going
        p: a.btn.btn-negative(href="?status=DECLINED&key=" + key) Decline

      else if visitor.status == 'ACCEPTED'
        p
          | You are attending this event.
        p: a(href="#{event.id}/#{file}.ics?key=" + key) Download event
        hr
        p.special
          | Changed your mind ?
        a.btn.btn-negative(href="?status=DECLINED&key=" + key)
          | Decline

      else
        p
          | You are not attending this event.
        hr
        p.special
          | Changed your mind ?
        a.btn(href="?status=ACCEPTED&key=" + key)
          | Going
