li(data-index=index)
    .alert-top
        .alert-timer= label
        button.alert-delete.fa.fa-trash-o(title=t('screen alert delete tooltip'), role="button")
    .type
        .notification-mode
            input.action-email(id="email-#{index}", type="checkbox", checked=isEmailChecked)
            label(for="email-#{index}")=t('screen alert type email')
        .notification-mode
            input.action-display(id="display-#{index}", type="checkbox", checked=isNotifChecked)
            label(for="display-#{index}")=t('screen alert type notification')
