li.guest-top(data-index=index)
    span.status
        if status == 'ACCEPTED'
            i.fa.fa-check-circle-o.green(title=t('accepted'))
        else if status == 'DECLINED'
            i.fa.fa-times-circle-o.red(title=t('declined'))
        else if status == 'NEED-ACTION'
            i.fa.fa-question-circle.blue(title=t('need action'))
        else
            i.fa.fa-exclamation-circle.orange(title=t('mail not sent'))

    .guest-label= label

    if !readOnly
        button.guest-delete.fa.fa-trash-o(
            title=t('screen guest remove tooltip')
            role="button"
        )

        - var displayShare = false
        - var displayEmail = false
        - var disableShare = false
        - var disableEmail = false
        - var activeShare  = false
        - var activeEmail  = false

        // If a cozy instance is linked to a contact.
        if cozy
            - displayShare = true

            // The invitation is shared.
            if shareWithCozy
                - disableShare = true
                - activeShare  = true

        // If the contact also has an email.
        if email
            - displayEmail = true

            // The invitation is not shared, hence sent by email.
            if !shareWithCozy
                - disableEmail = true
                - activeEmail  = true

        button.guest-share-with-email.fa.fa-envelope-o(
            title=t('screen guest share with email tooltip')
            role='button'
            class=activeEmail ? 'active' : ''
            disabled=disableEmail ? 'disabled' : false
            class=displayEmail ? '' : 'aria-hidden'
        )

        button.guest-share-with-cozy.fa.fa-cloud(
            title=t('screen guest share with cozy tooltip')
            role="button"
            class=activeShare ? 'active' : ''
            disabled=disableShare ? 'disabled' : false
            class=displayShare ? '' : 'aria-hidden'
        )

