tr.guest-top(data-index=index)
    td.status
        if status == 'ACCEPTED'
            i.fa.fa-check-circle-o.green(title=t('accepted'))
        else if status == 'DECLINED'
            i.fa.fa-times-circle-o.red(title=t('declined'))
        else if status == 'NEED-ACTION'
            i.fa.fa-question-circle.blue(title=t('need action'))
        else
            i.fa.fa-exclamation-circle.orange(title=t('mail not sent'))

    td.guest-label(title=label)= label

    if readOnly
        td(colspan=3)
    else
        td.action
            button.guest-delete.fa.fa-trash-o(
                title=t('screen guest remove tooltip')
                role="button"
            )
        td.action
            button.guest-share-with-email.fa.fa-envelope-o(
                title=t('screen guest share with email tooltip')
                role='button'
                class=activeEmail ? 'active' : ''
                disabled=activeEmail ? 'disabled' : false
                aria-hidden=hideEmail
            )
        td.action
            button.guest-share-with-cozy.fa.fa-cloud(
                title=t('screen guest share with cozy tooltip')
                role="button"
                class=activeShare ? 'active' : ''
                disabled=activeShare ? 'disabled' : false
                aria-hidden=hideShare
            )
