- popoverClassName  = (allDay ? ' is-all-day' : '')
- popoverClassName += (sameDay? ' is-same-day' : '')
- var showDetailsByDefault = details && details.length > 0
- var showAlertsByDefault = alerts && alerts.length > 0
- var showRepeatByDefault = rrule != null && rrule != void(0)

.popover-content-wrapper.label-row(class=popoverClassName)
    .item-row
        label.timed.time-row(aria-hidden="#{allDay}")
            .icon
                span.fa.fa-arrow-right
            span.caption= t("from")
            input.input-start-date.input-date(tabindex="3",
                                              type="text",
                                              size="10"
                                              placeholder=t("placeholder from date"),
                                              value=start.format(dFormat))
            input.input-start.input-time(tabindex="2",
                                         type="time",
                                         size="5"
                                         placeholder=t("placeholder from time"),
                                         value=start.format(tFormat),
                                         aria-hidden="#{allDay}")

        label.timed.time-row
            .icon
                span.fa.fa-arrow-left
            span.input-end-caption.caption= t("to")
            input.input-end-date.input-date(tabindex="5",
                                            type="text",
                                            size="10"
                                            placeholder=t("placeholder to date"),
                                            value=end.format(dFormat))
            input.input-end-time.input-time(tabindex="4",
                                            type="time",
                                            size="5"
                                            placeholder=t("placeholder to time"),
                                            value=end.format(tFormat),
                                            aria-hidden="#{allDay}")

    .item-row
        label.all-day
            input.input-allday(tabindex="6",
                               type="checkbox",
                               value='checked',
                               checked=allDay)
            span= t('all day')


div.label.label-row
    .icon
        span.fa.fa-map-marker
    input.input-place.input-full-block(tabindex="7",
                                       type="text",
                                       value=place,
                                       placeholder=t("placeholder place"))

div.label.label-row.input-people
    .icon
        span.fa.fa-users
    .icon.right
        span.fa.fa-angle-right
    button.button-full-block= guestsButtonText

div.label.label-row(data-optional="true", aria-hidden="#{!showDetailsByDefault}")
    .icon
        span.fa.fa-align-left
    .icon.right
        span.fa.fa-angle-right
    input.input-details-trigger.input-full-block(tabindex="9",
                                                 type="text",
                                                 value=details,
                                                 placeholder=t("placeholder description"))

div.label.label-row.input-alert(data-optional="true", aria-hidden="#{!showAlertsByDefault}")
    .icon
        span.fa.fa-bell
    .icon.right
        span.fa.fa-angle-right

    if !alerts || alerts.length === 0
        button.button-full-block=t('no alert button')
    else
        button.button-full-block= t('alert label', {smart_count: alerts.length})


div.label.label-row.input-repeat(data-optional="true", aria-hidden="#{!showRepeatByDefault}")
    .icon
        span.fa.fa-repeat
    .icon.right
        span.fa.fa-angle-right
    button.button-full-block= recurrenceButtonText

.popover-footer
    a.advanced-link(role="button",
                    tabindex="8",
                    href='#' + advancedUrl,
                    data-tabindex-next="1")
      .icon
          span.fa.fa-caret-down
        = t('more details button')
    a.btn.add(role="button",
              tabindex="7")
        = buttonText
