doctype
html(style="height:100%;")
  head
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

  body(style="height:100%; margin:0;")
    table(cellpadding="0" cellspacing="0" border="0", style="width: 100%; height: 100%; padding:0; margin:0; background-color: #F4F4F4; font-family: Helvetica,Arial,Verdana,sans-serif; color: #333; font-size: 0.9em; line-height: 1.6;")
      tr
        td(align="center", valign="top")
          table(cellpadding="0" cellspacing="0" border="0", style="width: 100%; max-width: 600px; padding: 2em 0.5em;")
            tr
              td
                table(cellpadding="0" cellspacing="0" border="0", style="width: 100%; max-width: 600px; background-color: #FFF; border-radius: 8px; border: 1px solid #DDD;")
                  tr
                    th(style="border-radius: 8px 8px 0 0; border-bottom: 1px solid #DDD;")
                      img(src="https://cozy.io/assets/images/cozy-logo.png" width="63" height="48" style="padding: 12px 0; margin: auto;")
                  tr
                    td(style="padding: 1.5em;") #{displayName} (#{displayEmail}) a annulé l'événement suivant :
                  tr
                    td(style="padding: 0 1.5em; width: 100%; font-size: 1.4em; font-weight: bold; text-align:center;")
                          | #{description}
                  tr
                    td(style="padding: 0 1.5em 2em; width: 100%; font-size: 1.2em; text-align:center;")
                          | Le #{date}
                          if place != null && place.length > 0
                              | à #{place}
            tr(style="padding-top: 10px; text-align: center; font-size: 0.85em; font-style: italic; color: #999;")
              td
                p
                  | Envoyé depuis le 
                  a(href="http://cozy.io", style="color: #34A6FF; text-decoration: none;") Cozy de #{displayName}
                  | .
