p An event where you are invited has changed: 
h2 #{event.description} @ #{event.place}
p on
h2 #{date}

p
    a.btn(href="#{url}?status=ACCEPTED&key=#{key}") still going
p
    a.btn(href="#{url}?status=DECLINED&key=#{key}") not going anymore
