p
    | Hello, I would like to invite you to the following event:
h2 #{event.description} @ #{event.place}
p on
h2 #{date}
p
    | Would you be there?
p
    a(href="#{url}?status=ACCEPTED&key=" + key) yes
p
    a(href="#{url}?status=DECLINED&key=#{key}") no
