.form-horizontal.well
  .control-group
      input#alarm-description-input.input-block-level(
          type="text", placeholder="What should I remind you ?")
  .form-inline
      select(id="action").input-small
        each displayAction, action in actions
            if action == defaultAction
              option(value="#{action}", selected) #{displayAction}
            else
              option(value="#{action}") #{displayAction}
      #date-control
        label(for="inputDate") &nbsp;date:&nbsp;
        .input-append.date(id="inputDate")
          input.span2(type="text", value="#{defaultDate}")
          span.add-on
            i.icon-th
        label(for="inputTime") &nbsp;&nbsp;time:&nbsp;
        .input-append.bootstrap-timepicker
          input.input-small(id="inputTime", type="text", value="#{defaultTime}")
          span.add-on
            i.icon-time

  button.btn.pull-right.add-alarm add the alarm
  .clearfix
