.fc-header-left
    .btn-group(role="group")
        span.btn.fc-button-month(class=active('month') type="button")= t('month')
        span.btn.fc-button-week(class=active('week') type="button")= t('week')
        span.btn.fc-button-list(class=active('list') type="button")= t('list')
    if calendarMode
        .btn-group(role="group")
            span.btn.fc-button-prev.fc-corner-left
                i.fa.fa-angle-left
            span.btn.fc-button-today(class=active('today'))= todaytxt
            span.btn.fc-button-next.fc-corner-right
                i.fa.fa-angle-right

.fc-header-right
    span.fc-header-title
        h2= title
