.modal-header
    span= t('edit event')
    | &nbsp;
    if typeof id != "undefined"
        a(href="events/#{id}/#{exportdate}.ics")
            i.fa.fa-download.fa-1
    button.close &times;
.modal-body
    form.form-inline#basic
        .row-fluid
            .control-group.span12
                label.control-label(for="basic-summary")= t('summary')
                .controls: input.span12#basic-summary(type="text", value=summary)
        .row-fluid
            .control-group.span5.date
                label.control-label(for="basic-start")= t('start')
                br
                input.span12#basic-start(type="datetime-local", value=start)

            .control-group.span5.date
                label.control-label(for="basic-end")= t('end')
                br
                input.span12#basic-end(type="datetime-local", value=end)

            .control-group.span2
                label.control-label(for="allday")= t('all day')
                br
                input#allday(type="checkbox", value='checked', checked=allDay)

        .row-fluid
            .control-group.span12
                label.control-label(for="basic-place")= t('place')
                .controls: input.span12#basic-place(type="text", value=place)

        .row-fluid
            .control-group.span12
                label.control-label(for="basic-calendar")= t('calendar')
                .controls: input#basic-calendar(value=calendar)
            .control-group.span8(style="display:none;")
                label.control-label(for="basic-tags")= t('tags')
                .controls: input.span12#basic-tags.tagit(value=tags.join(','))
        .row-fluid
            .control-group.span12
                label.control-label(for="basic-description")= t('description')
                .controls: textarea#basic-description.span12= description


    #guests-block

        h4= t('guests')
        form.form-inline#guests
            .control-group
                .controls
                    input#addguest-field(type="text", placeholder=t('enter email'))
                    a.btn#addguest= t('invite')
        #guests-list

        h4= t('reminder') 
          | &nbsp;
          a.btn.addreminder +

        #reminder-container

        h4= t('recurrence')
        #rrule-container



.modal-footer
    a#cancel-btn= t("cancel")
    | &nbsp;
    a#confirm-btn.btn= t("save changes")
