form.form-inline
  .control-group
    input.input-mini.triggervalue(type="number", min=1, value=durationValue)
    select.triggerunit
      option(value='M', selected=isSelectedUnit('M'))= t('minute')
      option(value='H', selected=isSelectedUnit('H'))= t('hour')
      option(value='D', selected=isSelectedUnit('D'))= t('day')
      option(value='W', selected=isSelectedUnit('W'))= t('week')

    i.removereminder.icon-trash(title=t('delete'))
