div
    input.input-small(type="text", value="#{defaultValueStart}",
                      id="input-start", placeholder=t("From hours:minutes"))
    input.input-small(type="text", value="#{defaultValueEnd}",
                          id="input-end", placeholder=t("To hours:minutes+days"))
div
    input.input-small(type="text", value="#{defaultValuePlace}",
                      id="input-place", placeholder=t("Place"))
    input.input(type="text", value="#{defaultValueDesc}",
        id="input-desc", placeholder=t("Description"))

    button.btn.add
        if editionMode
            = t('Edit')
        else
            = t('Create')
