.modal-header= t('edit event')
.modal-body
    form.form-inline#basic
        .row-fluid
            .control-group.span12
                label.control-label(for="basic-summary")= t('summary')
                .controls: input.span12#basic-summary(type="text", value=description)

        .row-fluid
            .control-group.span12
                label.control-label(for="basic-place")= t('place')
                .controls: input.span12#basic-place(type="text", value=place)

        .row-fluid
            .control-group.span6
                label.control-label(for="basic-start")= t('start')
                .controls: input#basic-start(type="datetime-local", value=start)

            .control-group.span6
                label.control-label(for="basic-end")= t('end')
                .controls: input#basic-end(type="datetime-local", value=end)


    h4= t('recurrence rule')
    p#rrule-toggle: a.rrule-show= t('make reccurent')
    p#rrule-short
        span#rrule-help
        a.rrule-show= t('change')
    form.form-inline#rrule

        .control-group
            label.control-label(for="rrule-interval")= t('repeat every')
            .controls
                input(type="number", value=rrule.interval).input-mini#rrule-interval
                select#rrule-freq
                    option(value="NOREPEAT", selected=freqSelected('NOREPEAT'))= t('no recurrence')
                    option(value=RRule.DAILY, selected=freqSelected(RRule.DAILY))= units[4]
                    option(value=RRule.WEEKLY, selected=freqSelected(RRule.WEEKLY))= units[5]
                    option(value=RRule.MONTHLY, selected=freqSelected(RRule.MONTHLY))= units[6]
                    option(value=RRule.YEARLY, selected=freqSelected(RRule.YEARLY))= units[7]

        .control-group#rrule-weekdays
            label.control-label= t('repeat on')
            .controls
                label.checkbox.inline= weekDays[0]
                    input(type="checkbox", value=0, checked=wkdaySelected(0))
                label.checkbox.inline= weekDays[1]
                    input(type="checkbox", value=1, checked=wkdaySelected(1))
                label.checkbox.inline= weekDays[2]
                    input(type="checkbox", value=2, checked=wkdaySelected(2))
                label.checkbox.inline= weekDays[3]
                    input(type="checkbox", value=3, checked=wkdaySelected(3))
                label.checkbox.inline= weekDays[4]
                    input(type="checkbox", value=4, checked=wkdaySelected(4))
                label.checkbox.inline= weekDays[5]
                    input(type="checkbox", value=5, checked=wkdaySelected(5))
                label.checkbox.inline= weekDays[6]
                    input(type="checkbox", value=6, checked=wkdaySelected(6))

        .control-group#rrule-monthdays
            label= t('repeat on')
            .controls
                label.checkbox.inline
                    input(type="radio", checked=yearModeIs('date'), name="rrule-month-option", value="date")
                    = t('repeat on date')
                label.checkbox.inline
                    input(type="radio", checked=yearModeIs('weekdate'), name="rrule-month-option", value="weekdate")
                    = t('repeat on weekday')

        .control-group
            label(for="rrule-until")= t('repeat until')
            input#rrule-until(type="date", value=rrule.until)
            label(for="rrule-count")= t('or after')
            input#rrule-count.input-mini(type="number", value=rrule.count)
            label(for="rrule-count")=t('occurences')

    h4= t('guests')



.modal-footer
    a#cancel-btn.btn= t("cancel")
    a#confirm-btn.btn.disabled.btn-primary= t("save changes")