div
    input.input-small(type="text", value="#{defaultValueStart}",
                      id="inputStart", placeholder=t("From hours:minutes"))
    input.input-small(type="text", value="#{defaultValueEnd}",
                          id="inputEnd", placeholder=t("To hours:minutes+days"))
div
    input.input-small(type="text", value="#{defaultValuePlace}",
                      id="inputPlace", placeholder=t("Place"))
    input.input(type="text", value="#{defaultValueDesc}",
        id="inputDesc", placeholder=t("Description"))

    button.btn.add-event
        if editionMode
            = t('Edit')
        else
            = t('Create')
