.modal-header
    span= t('edit event')
    | &nbsp;
    a(href="events/#{id}/#{exportdate}.ics") 
        i.fa.fa-download.fa-1
    button.close &times;
.modal-body
    form.form-inline#basic
        .row-fluid
            .control-group.span12
                label.control-label(for="basic-summary")= t('summary')
                .controls: input.span12#basic-summary(type="text", value=summary)

        .row-fluid
            .control-group.span12
                label.control-label(for="basic-place")= t('place')
                .controls: input.span12#basic-place(type="text", value=place)

        .row-fluid
            .control-group.span6
                label.control-label(for="basic-start")= t('start')
                .controls.input-append.date
                    input#basic-start(type="datetime-local", value=start)
                    span.add-on
                        i.icon.icon-calendar

            .control-group.span6
                label.control-label(for="basic-end")= t('end')
                .controls.input-append.date
                    input#basic-end(type="datetime-local", value=end)
                    span.add-on
                        i.icon.icon-calendar
        .row-fluid
            .control-group.span12
                label.control-label(for="basic-description")= t('description')
                .controls: textarea#basic-description.span12= description


    #guests-block

        h4= t('guests')
        form.form-inline#guests
            .control-group
                .controls
                    input#addguest-field(type="text", placeholder=t('enter email'))
                    a.btn#addguest= t('invite')
            p.info= t('invite-info')
        #guests-list

        h4= t('recurrence rule')
        #rrule-container



.modal-footer
    a#cancel-btn= t("cancel")
    | &nbsp;
    a#confirm-btn.btn= t("save changes")
