if type == 'alarm'
    p
        if typeof timezoneHour != 'undefined'
            span(title="#{timezoneHour} - #{timezone}") #{time}
        else
            span #{time}

        |  #{description} (#{t(action)})
        i.icon-trash
else if type == 'event'
    p #{start} - #{end}
        | #{description}
        i.icon-trash
