if type == 'alarm'
    p #{time} (#{timezone})
        | #{description} (#{t(action)})
        i.icon-pencil
        i.icon-trash
else if type == 'event'
    p #{start} - #{end}
        | #{description}
        i.icon-pencil
        i.icon-trash