if type == 'alarm'
    p
        span.badge(style="background-color:"+color+";") &nbsp;
        if typeof timezoneHour != 'undefined'
            span(title="#{timezoneHour} - #{timezone}") #{time}
        else
            span #{time}

        |  #{description} (#{t(action)})
        i.icon-trash
else if type == 'event'

    p
        span.badge(style="background-color:"+color+";") &nbsp;
        if !allDay
            | #{start} - #{end}
        | #{description}
        i.icon-trash
