- back = visible?color:"transparent"
- border = visible?"transparent":color
input(
        type='checkbox'
        value= '#{label}'
        name='calendar-actions'
        class='calendar-actions'
    )
span.badge
    | &nbsp;
span.calendar-name=label
.dropdown
    a#dLabel.dropdown-toggle(data-toggle="dropdown")
        span.caret
    ul.dropdown-menu(aria-labelledBy='dLabel')
        li
            a.calendar-color= t('change color')
            .color-picker(style='display: none;')
                .track(style="display: block;")
        li
            a.calendar-rename= t('rename')
        li
            a.calendar-remove= t('delete')
        li
            a.calendar-export= t('export')
img.spinner(src="img/spinner.svg")
