.sharer=model.sharerName || model.sharerUrl
.desc=model.desc
.errors
.actions
    a.accept=t('Accept')
    span.separator=' • ' 
    a.decline=t('Decline')
.disabler
.spinner
    img(src="img/spinner.svg")
