- popoverClassName  = (allDay ? ' is-all-day' : '')
- popoverClassName += (sameDay? ' is-same-day' : '')
- var showDetailsByDefault = details && details.length > 0
- var showAlertsByDefault = alerts && alerts.length > 0
- var showRepeatByDefault = repeat != null && repeat != void(0)

.popover-content-wrapper.label-row(class=popoverClassName)
    .item-row
        label.timed.time-row(aria-hidden="#{allDay}")
            .icon
                span.fa.fa-arrow-right
            span.caption= t("From")
            input.input-start-date.input-date(tabindex="3",
                                              type="text",
                                              size="10"
                                              placeholder=t("From [date]"),
                                              value=start.format(dFormat))
            input.input-start.input-time(tabindex="2",
                                         type="time",
                                         size="5"
                                         placeholder=t("From [hours:minutes]"),
                                         value=start.format(tFormat),
                                         aria-hidden="#{allDay}")

        label.timed.time-row
            .icon
                span.fa.fa-arrow-left
            span.input-end-caption.caption= t("To")
            input.input-end-date.input-date(tabindex="5",
                                            type="text",
                                            size="10"
                                            placeholder=t("To [date]"),
                                            value=end.format(dFormat))
            input.input-end-time.input-time(tabindex="4",
                                            type="time",
                                            size="5"
                                            placeholder=t("To [hours:minutes]"),
                                            value=end.format(tFormat),
                                            aria-hidden="#{allDay}")

    .item-row
        label.all-day
            input.input-allday(tabindex="6",
                               type="checkbox",
                               value='checked',
                               checked=allDay)
            span= t('All day')


div.label.label-row
    .icon
        span.fa.fa-map-marker
    input.input-place.input-full-block(tabindex="7",
                      type="text",
                      value=place,
                      placeholder=t("Place"))

div.label.label-row
    .icon
        span.fa.fa-users
    input.input-people.input-full-block(tabindex="8",
                      type="text",
                      value=people,
                      placeholder=t("People"))

div.label.label-row(aria-hidden="#{!showDetailsByDefault}")
    .icon
        span.fa.fa-align-left
    .icon.right
        span.fa.fa-angle-right
    input.input-details-trigger.input-full-block(tabindex="9",
                      type="text",
                      value=details,
                      placeholder=t("Description"))

div.label.label-row.input-alert(aria-hidden="#{!showAlertsByDefault}")
    .icon
        span.fa.fa-bell
    .icon.right
        span.fa.fa-angle-right
    
    if !alerts || alerts.length === 0
        button.button-full-block No alert
    else
        button.button-full-block= t('alert label', {numAlerts: alerts.length})


div.label.label-row.input-repeat(aria-hidden="#{!showRepeatByDefault}")
    .icon
        span.fa.fa-repeat
    .icon.right
        span.fa.fa-angle-right
    button.button-full-block No repeat

.popover-footer
    a.advanced-link(role="button",
                    tabindex="8",
                    href='#' + advancedUrl,
                    data-tabindex-next="1")
        = t('advanced')
    a.btn.add(role="button",
              tabindex="7")
        = editionMode ? t('Save') : t('Create Event')
