.line
    span.timeseparator=t("from")
    input#input-start.focused.input-mini(type="time", placeholder=t("From hours:minutes"), value=model.getStartDateObject().format(dtFormat))
    span &nbsp;
    span.timeseparator=t("to")
    input#input-end.input-mini(type="time", placeholder=t("To hours:minutes+days"), value=model.getEndDateObject().format(dtFormat))
    span &nbsp;
    //-input#input-diff.col-xs2.input-mini(type="number", value=diff,''
    //-    placeholder=0, min=0)
    //-span &nbsp;
    //-span.timeseparator= ' ' + t('days later')

.line
    input#input-desc.input(type="text", value=model.get("description"),
        placeholder=t("Summary"))
    input#input-place.input-small(type="text", value=model.get("place"),
        placeholder=t("Place"))
    a#showmap(target="_blank").btn: i.icon-white.icon-map-marker

.popover-footer.line
    a.advanced-link(href='#'+advancedUrl)= t('advanced')
    span &nbsp;
    a.btn.add= model.isNew() ? t('Create') : t('Edit')
