if type == 'alarm'

    .line
        input#input-time.focused.input-mini(type="time", value=time)
        select#input-timezone.input
            each tz in timezones
                option(value=tz, selected=(timezone == tz))= tz
    .line
        input#input-desc.input-xlarge.w100(type="text", value=description
            placeholder=t("alarm description placeholder"))

    .line
        #rrule-container

    .popover-footer
        a.btn.add= t('Edit')

else if type = 'event'

    .line
        span.timeseparator &nbsp;From
        input#input-start.focused.input-mini(type="time", value=start,
            placeholder=t("From hours:minutes"))
        span.timeseparator &nbsp;to
        input#input-end.input-mini(type="time", value=end,
            placeholder=t("To hours:minutes+days"))
        span.timeseparator &nbsp;+
        input#input-diff.col-xs2.input-mini(type="number", value=diff,
            placeholder=0)
        span.timeseparator= '&nbsp;' + t('days')

    .line
        input#input-desc.input(type="text", value=description,
            placeholder=t("Description"))
        input#input-place.input-small(type="text", value=place,
            placeholder=t("Place"))

    .popover-footer.line
        a.advanced-link(href='#'+advancedUrl)= t('advanced')
        span &nbsp;
        a.btn.add= editionMode ? t('Edit') : t('Create')
