label Repeats
    select.input-repeat
        option(value="-1", selected) No Repeat
        option(value="0") Daily
        option(value="1") Weekly
        option(value="2") Monthly
        option(value="3") Yearly

label.generic(aria-hidden="true") Interval
    input(type="number", min=1, value=1)
    | days

label.weekly-only(aria-hidden="true") Each
    label
        input(type="radio", name="weekly-repeat-type", value="monday")
        = t('monday')

    label
        input(type="radio", name="weekly-repeat-type", value="monday")
        = t('tuesday')

    label
        input(type="radio", name="weekly-repeat-type", value="monday")
        = t('wednesday')

    label
        input(type="radio", name="weekly-repeat-type", value="monday")
        = t('thursday')

    label
        input(type="radio", name="weekly-repeat-type", value="monday")
        = t('friday')
    label
        input(type="radio", name="weekly-repeat-type", value="monday")
        = t('saturday')

    label
        input(type="radio", name="weekly-repeat-type", value="monday")
        = t('sunday')

label.monthly-only(aria-hidden="true")
    label
        input(type="radio", name="monthly-repeat-type", value="repeat-day")
        | Repeat on dates

    label
        input(type="radio", name="monthly-repeat-type", value="repeat-weekday")
        | Repeat on weekday


label.generic(aria-hidden="true") Ends
    label
        input(type="radio", name="endMode", value='forever')
        = t('forever')

    label
        input(type="radio", name="endMode", value='count')
        label(for="count")= t('after')
        input#rrule-count.input-mini(type="number", min=0, value=1)
        label(for="rrule-count")=t('occurences')
    
    label
        input(type="radio", name="endMode", value='until')
        label(for="until")= t('until')
        input.input-until-date.input-date(tabindex="3",
                              type="text",
                              size="10"
                              placeholder=t("Until [date]"),
                              value=start.format(dFormat))


div.generic.summary(aria-hidden="true") Summary:
    span the summary




