- popoverClassName  = (allDay ? ' is-all-day' : '')
- popoverClassName += (sameDay? ' is-same-day' : '')
- var showDetailsByDefault = details && details.length > 0
- var showAlertsByDefault = alerts && alerts.length > 0
- var showRepeatByDefault = repeat != null && repeat != void(0)

.popover-content-wrapper.label-row(class=popoverClassName)
    .item-row
        label.timed.time-row(aria-hidden="#{allDay}")
            .icon
                span.fa.fa-arrow-right
            span.caption= t("From")
            input.input-start-date.input-date(tabindex="3",
                                              type="date",
                                              size="10"
                                              placeholder=t("From [date]"),
                                              value=start.format(dFormat))
            input.input-start.input-time(tabindex="2",
                                         type="time",
                                         size="5"
                                         placeholder=t("From [hours:minutes]"),
                                         value=start.format(tFormat))

        label.timed.time-row(aria-hidden="#{allDay}")
            .icon
                span.fa.fa-arrow-left
            span.input-end-caption.caption= t("To")
            input.input-end-date.input-date(tabindex="5",
                                            type="date",
                                            size="10"
                                            placeholder=t("To [date]"),
                                            value=end.format(dFormat))
            input.input-end-time.input-time(tabindex="4",
                                            type="time",
                                            size="5"
                                            placeholder=t("To [hours:minutes]"),
                                            value=end.format(tFormat))

    .item-row
        label.all-day
            input.input-allday(tabindex="6",
                               type="checkbox",
                               value='checked',
                               checked=allDay)
            span= t('All day')


div.label.label-row
    .icon
        span.fa.fa-map-marker
    input.input-place.input-full-block(tabindex="7",
                      type="text",
                      value=place,
                      placeholder=t("Place"))

div.label.label-row
    .icon
        span.fa.fa-users
    input.input-place.input-full-block(tabindex="8",
                      type="text",
                      value=people,
                      placeholder=t("People"))

div.label.label-row
    .icon
        span.fa.fa-align-left
    input.input-place.input-full-block(tabindex="9",
                      type="text",
                      value=description,
                      placeholder=t("Description"))

div.label.label-row
    .icon
        span.fa.fa-bell
    select.input-place.input-full-block(tabindex="10",
                      type="select",
                      value=alert,
                      placeholder=t("No Alert"))

div.label.label-row
    .icon
        span.fa.fa-repeat
    select.input-place.input-full-block(tabindex="11",
                      type="select",
                      value=repeat,
                      placeholder=t("No Repeat"))

.popover-footer
    a.advanced-link(role="button",
                    tabindex="8",
                    href='#' + advancedUrl,
                    data-tabindex-next="1")
      .icon
          span.fa.fa-caret-down
        = t('advanced')
    a.btn.add(role="button",
              tabindex="7")
        = editionMode ? t('Save') : t('Create Event')
