- popoverClassName  = (allDay ? ' is-all-day' : '')
- popoverClassName += (sameDay? ' is-same-day' : '')

.popover-content-wrapper(class=popoverClassName)
    label.timed(aria-hidden="#{allDay}")
        span.caption= t("From")
        input.input-start.input-time(tabindex="4",
                                     type="time",
                                     size="5"
                                     placeholder=t("From [hours:minutes]"),
                                     value=start.format(tFormat))

    label.aside
        input.input-allday(tabindex="3",
                           type="checkbox",
                           value='checked',
                           checked=allDay)
        span.caption= t('All day')

    label.timed(aria-hidden="#{allDay}")
        span.input-end-caption.caption= t("To")
        input.input-end-time.input-time(tabindex="5",
                                        type="time",
                                        size="5"
                                        placeholder=t("To [hours:minutes]"),
                                        value=end.format(tFormat))
    label.end-date
        span.caption
            = allDay? t(sameDay? "All one day" : "All day, until") : "-"
            |&nbsp;
        input.input-end-date.input-date(tabindex="6",
                                        type="date",
                                        size="10"
                                        placeholder=t("To [date]"),
                                        value=end.format(dFormat))


.popover-footer
    a.advanced-link(role="button",
                    tabindex="8",
                    href='#'+advancedUrl,
                    data-tabindex-next="1")
        = t('advanced')
    a.btn.add(role="button",
              tabindex="7")
        = editionMode ? t('save changes') : t('Create')
