label.timed(aria-hidden="#{allDay}")
    = t("from")
    input.input-start(tabindex="4",
                      type="time",
                      placeholder=t("From hours:minutes"),
                      value=start.format(tFormat))

label
    =t('All day')
    input.input-allday(tabindex="3",
                       type="checkbox",
                       value='checked',
                       checked=allDay)

label
    =t("to")
    span.timed(aria-hidden="#{allDay}")
        input.input-end-time(tabindex="5",
                             type="time",
                             placeholder=t("To hours:minutes"),
                             value=end.format(tFormat))
        | ,
    input.input-end-date(tabindex="6",
                         type="date",
                         placeholder=t("To date"),
                         value=end.format(dFormat))


.popover-footer.line
    a.advanced-link(href='#'+advancedUrl)= t('advanced')
    a.btn.add= editionMode ? t('Edit') : t('Create')
