.line
    input#input-time.focused.input-mini(type="time", value=model.getStartDateObject().format(dtFormat))
    //-select#input-timezone.input
    //-    each tz in timezones
    //-        option(value=tz, selected=(timezone == tz))= tz
.line
    input#input-desc.input-xlarge.w100(type="text", value=model.get('description')
        placeholder=t("alarm description placeholder"))

.line
    #rrule-container

.popover-footer
    a.btn.add= t('Edit')
