p #{time}
    | #{description} (#{actions})
    i(data-reminderid="#{reminderID}").icon-pencil
    i(data-reminderid="#{reminderID}", data-alarmids="#{alarmIDs}", data-datehash="#{dateHash}").icon-trash