h2= t('sync settings button label')

.modal-close= t('×')

section
    h3= t('mobile sync')

    if account == null
        p= t('to sync your cal with')
        ol
            li= t('install the sync module')
            li= t('connect to it and follow')
    else
        p= t('sync headline with data')
        ul
            li #{t('sync url')} https://#{account.domain}/public/sync/principals/me
            li #{t('sync login')} #{account.login}
            li #{t('sync password') + " "}
                span#placeholder= account.placeholder
                button.btn.btn-small#show-password= t('show')
                button.btn.btn-small#hide-password= t('hide')
    p= t('sync help') + " "
        a(href='https://docs.cozy.io/mobile/calendar.html', target="_blank")= t('sync help link')

section
    h3= t('icalendar export')
    p
      = t('download a copy of your calendar')
    p.line
      span.surrounded-combobox
        input#export-calendar(value=calendar)
      a#export.btn= t('export your calendar')

section
    h3= t('default calendar')
    p.line
      span.surrounded-combobox
        input#default-calendar(value=calendar)

section
    h3= t('icalendar import')

    #importviewplaceholder

