.helptext
    h2= t('synchronization')

.helptext
    h3= t('mobile sync')
    p
      = t('to sync your cal with')
    ol
        li
            = t('install the sync module')
        li
            = t('connect to it and follow')

.helptext
    h3= t('icalendar export')
    p
      = t('download a copy of your calendar')
    p.line
      span.surrounded-combobox
        input#export-calendar(value=calendar)
      span &nbsp;
      a#export.btn= t('export your calendar')

.helptext
    h3= t('icalendar import')

    #importviewplaceholder
